github "allaboutapps/StatefulViewController" "master"
github "codeOfRobin/PINCache-Texture" "master"
github "ninjaprox/NVActivityIndicatorView" "master"
github "johnsundell/unbox"
github "johnsundell/wrap"
github "codeOfRobin/Birdsong" "updating-starscream"
